USE [master]
GO
/****** Object:  Database [sineDB]    Script Date: 16.12.2019 18:20:31 ******/
CREATE DATABASE [sineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sineDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.GLORY\MSSQL\DATA\sineDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sineDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.GLORY\MSSQL\DATA\sineDB_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sineDB]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 16.12.2019 18:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kulad] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[filmler]    Script Date: 16.12.2019 18:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmAd] [nvarchar](50) NULL,
	[FilmKonu] [nvarchar](max) NULL,
	[FilmYonetmen] [nvarchar](50) NULL,
	[FilmYil] [nchar](5) NULL,
	[FilmTur] [nvarchar](50) NULL,
	[FilmPuan] [nchar](10) NULL,
	[FilmID] [nchar](6) NULL,
	[FilmResimler] [image] NULL,
 CONSTRAINT [PK_filmler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [kulad], [sifre]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[filmler] ON 

SET IDENTITY_INSERT [dbo].[filmler] OFF
USE [master]
GO
